.todolist {
  margin: 0 auto;
  width: 40%;
  border: 1px solid black;
}
.todolist .delete {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  color: red;
  display: none;
}
.tasks {
  background: rgba(11,123,23);
}
.task {
  margin-left: 20px;
}
.todolist .done {
  text-decoration: line-through;
}
.todolist .task:hover .delete {
  display: block;
}

.input {
  width: 99%;
}

.todolist .todolist-footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.todolist .todolist-footer .buttons .selected {
  border: 3px solid black;
}

.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
